# Dockerignore file to exclude unnecessary files from the Docker build context
# Exclude everything by default
*
# Include only the necessary files and directories
!src/
!tests/
!pyproject.toml
!poetry.lock
!README.md