# docker/docker-compose.e2e.yml

services:
  # --- Unattended analysis core service ---
  core:
    build:
      context: ..                             # Service directory relative to this file
      dockerfile: docker/Dockerfile
    image: radar-core:dev-0.5.0
    container_name: radar-core
    restart: 'no'                             # It will either run manually or remain paused after execution
    shm_size: '2gb'                           # CRITICAL for HPC/Polars: Increase shared memory size
    env_file:
      - ..\envs\.env.core                     # Unversioned file .env with secure credentials, its path is relative to this docker-compose.yml
    environment:
      - POSTGRES_HOST=host.docker.internal    # Special name resolved to the host IP address (host PostgreSQL instance)
    networks:
      - radar-network                         # Shared network for inter-service communication
    # Required to connect from the container to the Windows host DB
    extra_hosts:
      - "host.docker.internal:host-gateway"   # Maps host.docker.internal to the host IP
    # Resource limits - a similar concept used in K8S
    # deploy:
    #    resources:
    #      limits:
    #        cpus: '2.00'                        # Limit to % of one CPU core
    #        memory: 2056M                       # Limit to MB RAM
    #      reservations:
    #        cpus: '0.50'                        # Reserve % of one CPU core
    #        memory: 1024M                       # Reserve MB RAM

# Network configuration for service communication
networks:
  # Define the shared bridge network for inter-service communication.
  radar-network:
    name: radar-network                       # Network name
    driver: bridge                            # Standard bridge network for local deployment
