# envs/.env.core.template
# Template for Radar-Core Environment Variables for Core Application and its PostgreSQL Connection

# --- RADAR-CORE APP SETTINGS ---
# App environment: dev, e2e, prod
RADAR_ENV=dev
# YML configuration file: create it in the same folder where is `settings.py` or set the absolute path to the file
# e.g. for Docker container: `/home/default/app/settings.yml` or `settings.yml` if copy to the same folder where is `settings.py`
RADAR_SETTING_FILE=/home/default/app/settings.yml
# If true, the ratios for symbols not listed in ‘settings.yml’' will be cleaned from the DB at the start of the `analyzer.py`
RADAR_CLEAN_UNLISTED=false

# --- RADAR-CORE LOGGING SETTINGS ---
# Disable file logging for containerization environments
RADAR_ENABLE_FILE_LOGGING=false
# Log levels: 10.Debug, 20.Info, 30.Warning, 40.Error, 50.Critical
RADAR_LOG_LEVEL=20

# --- RADAR-CORE PERFORMANCE SETTINGS ---
# Number of parallel workers for the analyzer.
# Set to a positive integer (recommended), 0 or leave unset to use all available cores.
RADAR_MAX_WORKERS=2

# --- POSTGRESQL SETTINGS ---
POSTGRES_HOST=set_your_host
POSTGRES_PORT=5432
POSTGRES_USER=set_your_user
POSTGRES_PASSWORD=set_your_password
POSTGRES_DB=radar
# Optional PostgreSQL settings
POSTGRES_SSL_MODE=prefer
POSTGRES_OPTIONS='-c search_path%3Dpublic'
